@use '../styles/variables' as *;
@use '../styles/mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-body {
  flex: 1;
  padding-inline: $page-margin;
  padding-top: $header-height;
}
